<app-course-filter (findCoursesEvent) = "filterText($event)"></app-course-filter>
<section class="courses">
        <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td class="course-name">Namn</td>
                <td></td>
                <td>hp</td>
                <td>Institution</td>
            </tr>
        </thead>
        <tbody>           
            <ng-container *ngFor="let course of courses | filter:filterQuery">
                <tr>
                    <td>{{ course.courseCode }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.progression }}</td>
                    <td>{{ course.points }}</td>
                    <td class=>{{ course.institutionCode }}</td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
</section>
